/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
/*Custom properties*/

/*Generics*/
header{
    background-color: rgb(203, 248, 248);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}
/*Utilties*/
.conteiner{
    background-color: rgb(181, 181, 181);
    margin: 0 auto;
    max-width: 1700px;
    height: calc(100vh - 80px);
    font-size: 100px;
}
/*Header*/
.side_bottoms{
    min-height: 30px;
    width: 150px;
    background-color: grey;
    border-radius: 10px;
    margin: 5px
}
.side_small_b{
    max-width: 40px;
    margin-right: 10px;
}
/*Main*/

/*Footer*/


